/*
kleuren palette
lichtblauw: #2EC8F0
bruin: #B07D4d
oranje: #F08A2D
Desaturated blauw: #518C9B
Desaturated bruin: #705E4D
Dark cyan: #3C4446
*/

html{
    scroll-behavior: smooth;
}

body{
    margin: 0px;
}

header{
    /* text */
    font-family: Lexend;
    color: white;

    /* background */
    background-color: #0D1F2DFF;
}

main{
    margin: 8px;
}

footer{
    /* text */
    font-family: Lexend;
    color: white;

    text-align:center;
    width:100%;

    padding-top: 1%;

    /* dimensions */
    /* min-height: 80px; */

    /* background */
    /* background-color: white; */
    background-color: #0b2135;

}

.site {
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: minmax(0, 1fr);

    /* background */
    background-color: rgb(40, 53, 63);
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;

    font-family: Lexend;
}

.grid{
    display: grid;
    font-family: Lexend;

    width: 100%;
    max-width: 100%;
    gap: 2% 2%;
}

.grid.two{
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid.three{
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid.info{
    padding: 5%;
    width: 90%;
}

a.button{
    text-align: center;
    line-height: 40px;

    transition: .35s;

    font-family: Lexend;

    padding-bottom: 3px;
    min-height: 40px;

    border-top: 0px;
    border-color: #000000;
}

a.no-decor{
    text-decoration: none;
}

a.color--light{
    color: white;
}

a.color--dark{
    color: black;
}

.button:hover{
    background-color: #ffffff25;
}

.button:active{
    background-color: #ffffffaa;
}

div{
    /* text */
    font-family: Lexend;
    font-size: auto;
}

.flex.column-left{
    flex-wrap: nowrap;

    width: 15%;
    align-items: start;
}

.flex.column-center{
    flex-wrap: nowrap;
    flex-grow: 1;

    min-width: 70%;
}

.flex.column-right{
    flex-wrap: nowrap;


    width: 15%;
}

.flex.project-list{
    padding-top: 0%;
    padding-bottom: 10%;
    padding-left: 20%;
    padding-right: 20%;
}

.flex.project-container{
    transition: .35s;

    padding: 3% 3% 0% 3%;
    margin: 1% 0%;
    border: 0px;
    border-radius: 32px 32px 8px 8px;
    background-color: white;

    flex-direction: column;
    flex-wrap: nowrap;
    flex-grow: 1;

    width: 100%;

    box-sizing: border-box;
}

.flex.project-cell-container{
    transition: .35s;

    margin-top: 1%;
    margin-bottom: 1%;

    border: 0px;
    border-radius: 8px;
    background-color: #fffffc;

    flex-wrap: nowrap;
    flex-grow: 1;

    width: 100%;

    box-sizing: border-box;

    box-shadow: 5px 5px 5px rgb(43, 43, 43);
}

.flex.project-cell-container:hover{
    background-color: #ffffffaa;
}

.flex.project-cell-container:active{
    background-color: #ffffff25;
    box-shadow: 0px 0px 0px rgb(43, 43, 43);
}

.flex.info-list{
    padding: 3% 3%;
    margin: 1% 0%;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: start;

    width: 75%;
}

.flex.info-list-row{

    flex-direction: row;
    flex-wrap: nowrap;

    align-items: center;
    justify-content: space-between;

    flex-grow: 1;
    width: 100%;
}

.flex.project-thumbnail{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    border-radius: 0px;

    max-width: 35%;
}

.flex.gamejam-thumbnail{
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 1;
    align-items: center;

    border-radius: 0px;

    /* padding: 5% 5%; */
    max-width: 100%;
    height: auto;

    overflow: hidden;
}

p{
    color: white;
}

p.p--dark{
    color: black;
}

p.subtitle{
    color: #383838;
    text-align: center;
}

p.project{
    color: black;

    margin: 4px 0px;
    text-align: left;
}

p.gamejam{
    flex-grow: 1;
    min-width: 50%;
    max-width: 100%;
    width: auto;

    margin: 1%;
    text-align: left;
    text-wrap: nowrap;
}

.p--footer{
    margin: 0% 2% 1% 2%;
}

.flex.gamejam-list{
    padding: 0% 20% 10% 20%;
    box-sizing: border-box;
}

.flex.gamejam-container{

    transition: .35s;

    padding: 2% 3%;
    border: 0px;
    border-radius: 32px 32px 8px 8px;
    background-color: #fffffc;

    flex-direction: column;
    flex-wrap: nowrap;
    flex-grow: 1;

    width: 100%;
    box-sizing: border-box;
}

.flex.gamejam-grid-container{
    display: grid;

    gap: 2% 2%;

    grid-template-columns: auto auto auto;

    padding: 2% 0% 2% 0%;

    /* justify-content: space-evenly; */

    flex-wrap: wrap;
    flex-grow: 1;

    width: auto;
    box-sizing: border-box;
}

.flex.gamejam-cell-container{
    transition: .35s;

    padding: 0%;

    border: 0px;
    border-radius: 8px;
    background-color: #FFFFFC;

    flex-direction: column;
    flex-wrap: nowrap;
    flex-grow: 1;

    width: auto;

    box-sizing: border-box;

    box-shadow: 5px 5px 5px rgb(43, 43, 43);
}

.flex.gamejam-cell-container:hover{
    background-color: #ffffffAA;
}

.flex.gamejam-cell-container:active{
    background-color: #ffffff25;
    box-shadow: 0px 0px 0px rgb(43, 43, 43);
    
}

.flex.contact-list{
    padding: 0% 20% 10% 20%;
}

.flex.contact-container{
    transition: .35s;

    padding: 2% 3%;
    border: 0px;
    border-radius: 32px 32px 8px 8px;
    background-color: #fffffc;

    flex-direction: column;
    flex-wrap: nowrap;
    flex-grow: 1;

    width: 100%;
}

.flex.contact-cell-container{
    transition: .35s;

    margin-top: 4%;

    border: 0px;
    border-radius: 8px;
    background-color: #fffffc;

    flex-direction: row;
    flex-wrap: nowrap;

    justify-content: center;

    box-shadow: 5px 5px 5px rgb(43, 43, 43);
}

.flex.contact-cell-container:hover{
    background-color: #ffffffaa;
}

.flex.contact-cell-container:active{
    background-color: #ffffff25;
    box-shadow: 0px 0px 0px #FFFFFF00
}

p.contact{
    text-align: left;
}

.contact-thumbnail{
    max-width: 10%;

    margin: 3% 5% 3% 1%;
}

.site-header {
    position: sticky;
    top: 0px;
  }

img.pfp{
    border-radius: 50%;
    padding: 0% 5%
}

.banner{
    text-align:center;
    width:100%;
}

.hr-thick-bottom{
    border: 2px solid #121212FF;
    margin: 0px;
    
    border-radius: 0px 0px 16px 16px;
}

.hr-thick-center{
    border: 4px solid #fffffc;
    margin: 0px;
    
    border-radius: 0px;;
}

.hr-thick-top{
    border: 2px solid #121212FF;
    margin: 0px;
    
    border-radius: 16px 16px 0px 0px;
}

:target{
    scroll-margin-top: 140px;
}