/*
kleuren palette
lichtblauw: #2EC8F0
bruin: #B07D4d
oranje: #F08A2D
Desaturated blauw: #518C9B
Desaturated bruin: #705E4D
Dark cyan: #3C4446
*/

html{
    scroll-behavior: smooth;
}

body{
    margin: 0px;
}

header{
    /* text */
    font-family: Lexend;

    /* background */
    background-color: white;
}

main{
    margin: 8px;
}

footer{
    /* text */
    font-family: Lexend;
    color: #121212FF;

    text-align:center;
    width:100%;

    /* dimensions */
    min-height: 80px;

    /* background */
    background-color: white;
}

.site {
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: minmax(0, 1fr);

    /* background */
    background-color: #fff8f0;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;

    font-family: Lexend;
}

a.button{
    text-align: center;
    line-height: 40px;


    transition: .35s;

    font-family: Lexend;
    color: #000000;
    text-decoration: none;

    /* margin: 4px 2px; */
    min-height: 40px;

    border-top: 0px;
    border-color: #000000;
}

.button:hover{
    background-color: #00000025;
}

.button:active{
    background-color: #000000AA;
}

div{
    /* text */
    color: black;
    font-family: Lexend;
    font-size: auto;
}

.flex.column-left{
    flex-wrap: nowrap;

    width: 15%;
    align-items: start;
}

.flex.column-center{
    flex-wrap: nowrap;
    flex-grow: 1;

    min-width: 70%;
}

.flex.column-right{
    flex-wrap: nowrap;


    width: 15%;
}

.flex.project-list{
    padding: 0% 20%;
}

.flex.project-container{
    transition: .35s;

    padding: 3% 3%;
    margin: 1% 0%;
    border: 0px;
    border-radius: 32px;
    background-color: white;

    flex-wrap: nowrap;
    flex-grow: 1;

    width: 100%;
}

.flex.project-container:hover{
    background-color: #00000022;
}

.flex.project-container:active{
    background-color: #000000AA;
}

.flex.info-list{
    padding: 1% 5%;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: start;

    width: 75%;
}

.flex.project-thumbnail{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    border-radius: 25%;

    padding: 1% 5%;
    max-width: 25%;
}

p.project{
    margin: 4px 0px;
    text-align: left;
}

.site-header {
    position: sticky;
    top: 0px;
  }

img.pfp{
    border-radius: 50%;
    padding: 0% 5%
}

.banner{
    text-align:center;
    width:100%;
}

.hr-thick-bottom{
    border: 2px solid #121212FF;
    margin: 0px;

    border-radius: 0px 0px 16px 16px; 
}

.hr-thick-center{
    border: 4px solid #121212FF;
    margin: 0px;

    border-radius: 0px;; 
}

.hr-thick-top{
    border: 2px solid #121212FF;
    margin: 0px;

    border-radius: 16px 16px 0px 0px; 
}

:target{
    scroll-margin-top: 140px;
}